{% extends "base.html" %}

{% block title %} Добавить картинку {% endblock %}

{% block content %}
<div class="row">
    <h1>Добавить картинку и описание к ней</h1>
    <div class="mb-3">
      <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.name(class="form-control form-control-lg py-3 mb-3", placeholder=form.name.label.text) }}<br />
        {{ form.description(class="form-control form-control-lg py-3 mb-3", placeholder=form.description.label.text) }}<br />
        {% if image %}
          <h4> Текущая картинка </h4>
          <img src={{image}} alt="Image" width="200"> <br> <br>
        {% endif %}
        <div class="mb-3">
          {{ form.media(class="form-control form-control-lg py-3 mb-3") }}
        </div>
        {{ form.submit(class="btn btn-success") }}
      </form>
    </div>
  </div>
{% endblock %}
