{% extends "base.html" %}
{% import 'includes/pagination.html' as pagination %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
  <div class="table-header">
    <img src="/static/img/table.svg" alt="Table" height="40"> 
    {{ title }} 
  </div>
  <table>
      <thead>
          <tr>
              <th>Номер заявки</th>
              <th>Имя пользователя</th>
              <th>Телефон для связи</th>
              <th>Дата заявки</th>
              <th class="col-1"> Закрыть </th>
          </tr>
      </thead>
      <tbody>
          {% for data in data_list %}
              <tr>
                  <td>
                  {{ data.id }}
                </td>
                <td> {{ data.first_name }} </td>
                <td> {{ data.phone_number }} </td>
                <td> {{ data.shipping_date }} </td>
                <td class="col-1 icon"> 
                  <a href="{{ url_for('managers.close_current_case', id=data.id)}}"> 
                    <img src="/static/img/close_case.svg" alt="Image" width="25">
                </a> 
                </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
  <br>
  {% if total_pages > 1 %}
    {{ pagination.render_pagination(current_page=current_page, total_pages=total_pages, endpoint=endpoint) }}
  {% endif %}
{% endblock content %}
