{% extends "base.html" %}
{% import 'includes/pagination.html' as pagination %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
  <table>
    <div class="table-header">
        <img src="/static/img/table.svg" alt="Table" height="40"> 
        {{ title }} 
      </div>
      <thead>
          <tr>
              <th>Номер заявки</th>
              <th>Имя пользователя</th>
              <th>Менеджер</th>
              <th>Дата закрытия заявки</th>
          </tr>
      </thead>
      <tbody>
        {% for data in data_list %}
            <tr>
                <td>
                  <a href="#">
                      {{ data.id }}
                  </a>
              </td>
              <td> {{ data.first_name }} </td>
              <td> {{ data.manager_id }} </td>
              <td> {{ data.shipping_date_close }} </td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
  <br>
  {% if total_pages > 1 %}
    {{ pagination.render_pagination(current_page=current_page, total_pages=total_pages, endpoint=endpoint) }}
  {% endif %}
{% endblock content %}
