{% extends "base.html" %}
{% import 'includes/pagination.html' as pagination %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
  <div class="row">
    <div class="table-header">
      <img src="/static/img/table.svg" alt="Table" height="40"> 
      {{ title }} 
    </div>
    <table>
        <thead>
            <tr>
                <th>Отзыв</th>
                <th>Рейтинг</th>
                <th>Дата отзыва</th>
            </tr>
        </thead>
        <tbody>
            {% for data in data_list %}
                <tr>
                    <td>
                      <a href="{{ url_for('managers.get_feedback', id=data.id)}}">
                          {{ data.feedback_text|truncate(100) }}
                      </a>
                  </td>
                  <td> {{ data.rating }} </td>
                  <td> {{ data.feedback_date }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
  <br>
    {{ pagination.render_pagination(current_page=current_page, total_pages=total_pages, endpoint=endpoint) }}
{% endblock content %}
