{% extends "base.html" %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
  <div class="row">
    <div class="table-header">
      <img src="/static/img/table.svg" alt="Table" height="40"> 
      {{ title }} 
    </div>
    <table>
        <thead>
            <tr>
                <th>Отзыв</th>
                <th>Рейтинг</th>
                <th>Дата отзыва</th>
            </tr>
        </thead>
        <tbody>
            {% for data in data_list %}
                <tr>
                    <td>
                      <a href="{{ url_for('managers.get_feedback', id=data.id)}}">
                          {{ data.feedback_text|truncate(100) }}
                      </a>
                  </td>
                  <td> {{ data.rating }} </td>
                  <td> {{ data.feedback_date }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
      {% if current_page > 1 %}
          <a href="{{ url_for('managers.get_feedbacks', page=current_page - 1) }}">« Предыдущая</a>
      {% endif %}
      
      <span>Страница {{ current_page }} из {{ total_pages }}</span>

      {% if current_page < total_pages %}
          <a href="{{ url_for('managers.get_feedbacks', page=current_page + 1) }}">Следующая »</a>
      {% endif %}
    </div>
  </div>
{% endblock content %}
