{% extends "alt_base.html" %}

{% block title %} Отзыв {{ feedback.id }} {% endblock title %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center">
    <div class="card col-4">  
      <h3 class="card-header">{{ feedback.id }} от пользователя с id - {{ feedback.user }} </h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> Оценка - {{ feedback.rating }} </li>
        <li class="list-group-item"> {{ feedback.feedback_text }} </li>
        <li class="list-group-item"> Дата отзыва - {{ feedback.feedback_date }} </li> 
      </ul>
    </div>
  </div>
{% endblock content %}

  