{% extends "base.html" %}

{% block title %} Продукты {% endblock title %}

{% block content %}
  <table>
      <thead>
          <tr>
              <th>Название</th>
              <th>Описание</th>
          </tr>
      </thead>
      <tbody>
          {% for data in data_list %}
              <tr>
                  <td>
                    <a href="{{ url_for(details_url, id=data.id)}}">
                        {% if data.name %} {{ data.name }} {% else %} {{ data.question }} {% endif %}
                    </a>
                </td>
                  <td>{% if data.description %} {{ data.description }} {% elif data.url %} {{ data.url }} {% else %} {{ data.answer }} {% endif %}</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
  <div class="button-container">
    <button type="button" class="btn btn-success">Добавить</button>
  </div>
{% endblock content %}
