{% extends "base.html" %}

{% block title %} Список менеджеров и админов {% endblock title %}

{% block content %}
  <table>
      <thead>
          <tr>
              <th>Телеграм ID</th>
              <th>Имя</th>
              <th>Роль</th>
          </tr>
      </thead>
      <tbody>
          {% for data in data_list %}
              <tr>
                <td> 
                  <a href="{{ url_for('get_user', id=data.id)}}">
                    {{ data.tg_id}}
                  </a> 
                </td>
                <td> {{ data.name }} </td>
                <td> {{ data.role }} </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
  <div class="button-container">
    <a href="{{url_for('add_user')}}" class="btn btn-success">Добавить</a>
  </div>
{% endblock content %}
