{% extends "base.html" %}

{% block title %} {{ product.name }} {% endblock title %}

{% block content %}
  <div>
    <h2>{{ product.name }}</h2> <br>
    <h3>{{ product.description }}</h3>

    <table>
      <thead>
        <tr>
          <th>Название</th>
          <th>Содержание</th>
        </tr>
      </thead>
      <tbody>
        {% for data in product_data %}
          <tr>
            <td>{{ data.name }}</td>
            {% if data.url %}
              <td>{{ data.url }}</td>
            {% elif data.media %}
              <td>
                <img src="{{ data.media }}" alt="Image" width="100">
                {% if data.description %} {{ data.description }} {% endif %}
              </td>
            {% elif data.description %}
              <td>{{ data.description }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="button-container">
    <button type="button" class="btn btn-primary">Редактировать</button>
    <button type="button" class="btn btn-danger">Удалить</button>
  </div>
{% endblock content %}
