{% extends "base.html" %}

{% block title %} Продукты {% endblock title %}

{% block content %}
  <table>
      <thead>
          <tr>
              <th>Название</th>
              <th>Описание</th>
          </tr>
      </thead>
      <tbody>
          {% for product in products %}
              <tr>
                  <td><a href="{{ url_for('product_details', product_id=product.id)}}">{{ product.name }}</a></td>
                  <td>{{ product.description }}</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
  <div class="button-container">
    <button type="button" class="btn btn-success">Создать</button>
  </div>
{% endblock content %}
