{% extends "base.html" %}


{% block title %} Другие проекты {% endblock %}

{% block content %}
    <table>
      <thead>
          <tr>
              <th>Название</th>
              <th>Адрес ссылки</th>
          </tr>
      </thead>
      <tbody>
          {% for project in projects %}
              <tr>
                  <td><a href="{{ url_for('get_project_details', id=project.id) }}">{{ project.name }}</a></td>
                  <td>{{ project.url }}</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
  <div class="button-container">
    <button type="button" class="btn btn-success">Добавить</button>
  </div>

{% endblock %}
