{% extends "base.html" %}
{% import 'includes/pagination.html' as pagination %}
{% import 'includes/table.html' as table %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
  <div class="table-header">
    <img src="/static/img/table.svg" alt="Table" height="40"> 
    {{ title }} 
  </div>

  {% if title == 'Список администраторов' %}
    {% set columns = ['Телеграм ID', 'Имя', 'Роль'] %}
    {% set link_field = 'users.get_user' %}
  {% elif title == 'Заявки' %}
    {% set columns = ['Номер заявки', 'Имя пользователя', 'Менеджер', 'Дата закрытия заявки'] %}
    {% set link_field = 'details_url' %}
  {% elif title == 'Отзывы' %}
    {% set columns = ['Отзыв', 'Рейтинг', 'Дата отзыва'] %}
    {% set link_field = 'managers.get_feedback' %}
  {% else %}
    {% set columns = ['Название', 'Описание'] %}
    {% set link_field = 'details_url' %}
  {% endif %}

  {{ table.render_table(columns=columns, data_list=data_list, link_field=link_field) }}
  
  <br>
  {% if total_pages > 1 %}
    {{ pagination.render_pagination(current_page=current_page, total_pages=total_pages, endpoint=endpoint) }}
  {% endif %}

  {% if add_url %}
    <div class="button-container">
      <a href="{{url_for(add_url)}}" class="btn btn-success">Добавить</a>
    </div>
  {% endif%}
{% endblock content %}
