{% extends "base.html" %}

{% block title %} {{ user.tg_id }} {% endblock title %}

{% block content %}
  <div class="container">
    <h3>{{ user.tg_id }} {{ user.name}} </h3> <br>
    <h4> Роль - {{ user.role }} </h4> <br>
    <h4> Количество закрытых заявок {{ closed_cases }} </h4> <br>
    <h4> Последняя закрытая завяка {% if last_case %} {{ last_case.id}} от {{ last_case.shipping_date_close}} {% else %} - {% endif %}
  </div>

  <div class="button-container">
    <a href="{{url_for('users.update_user', id=user.id)}}" class="btn btn-primary">Изменить роль</a>
  </div>
{% endblock content %}
