{% extends "detail.html" %}

{% block title %} {{ item.name }} {% endblock title %}

{% block content %}
  <div>
    <h3> {{ item.name }} </h3> <br>
    <h4>
      {{ item.description }} 
    </h4> <br>
    {% if item_data %}
      <table>
        <thead>
          <tr>
            <th>Редактировать</th>
            <th>Название</th>
            <th>Содержание</th>
          </tr>
        </thead>
        <tbody>
          {% for data in item_data %}
            <tr>
              <td>{{ data.name }}</td>
              {% if data.url %}
                <td><a href={{data.url}}>{{ data.url }}</a></td>
              {% elif data.media %}
                <td>
                  <img src="{{ data.media }}" alt="Image" width="100">
                  {% if data.description %} {{ data.description }} {% endif %}
                </td>
              {% elif data.description %}
                <td>{{ data.description }}</td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
  <div class="button-container">
    <a href="{{url_for('update_product', id=item.id)}}" class="btn btn-primary">Редактировать</a>
    <a href="{{url_for('add_product_url', id=item.id)}}" class="btn btn-success">Добавить ссылку</a>
    <a href="{{url_for('add_product_text', id=item.id)}}" class="btn btn-success">Добавить текст</a>
    <a href="{{url_for('add_product_media', id=item.id)}}" class="btn btn-success">Добавить картинку</a>
    <a href="{{url_for('delete_product', id=item.id)}}" class="btn btn-danger">Удалить</a>
  </div>
{% endblock content %}
