{% macro render_pagination(current_page, total_pages, endpoint) %}
<ul class="pagination">
  {% if current_page > 1 %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for(endpoint, page=current_page - 1) }}">« Предыдущая</a>
    </li>
  {% else %}
    <li class="page-item disabled">
      <span class="page-link">« Предыдущая</span>
    </li>
  {% endif %}

  {% for page in range(1, total_pages + 1) %}
    <li class="page-item {% if page == current_page %} active {% endif %}">
      <a class="page-link" href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
    </li>
  {% endfor %}

  {% if current_page < total_pages %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for(endpoint, page=current_page + 1) }}">Следующая »</a>
    </li>
  {% else %}
    <li class="page-item disabled">
      <span class="page-link">Следующая »</span>
    </li>
  {% endif %}
</ul>
{% endmacro %}

