<div class="sidebar flex-shrink-0 p-3">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
        <img src="/static/img/logo.png" alt="Logo" height="60">
        <span class="fs-5 fw-semibold"> SCID info bot</span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <input type="checkbox" id="data-bot-toggle" class="d-none">
        <label for="data-bot-toggle" class="btn btn-toggle">Данные бота</label>
        <div class="collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="{{ url_for('get_company_about') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">О компании</a></li>
                <li><a href="{{ url_for('get_products') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Продукты</a></li>
                <li><a href="{{ url_for('get_projects') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Другие проекты</a></li>
                <li><a href="{{ url_for('get_questions') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Общие вопросы</a></li>
                <li><a href="{{ url_for('get_product_problems') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Проблемы с продуктами</a></li>
            </ul>
        </div>
      </li>
      <li class="mb-1">
        <input type="checkbox" id="requests-toggle" class="d-none">
        <label for="requests-toggle" class="btn btn-toggle">Заявки</label>
        <div class="collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="{{ url_for('get_manager_callbacks')}}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Обратный звонок от менеджера</a></li>
                <li><a href="{{ url_for('get_support_requests')}}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Проблемы с продуктами</a></li>
                <li><a href="{{ url_for('get_all_closed_cases')}}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Закрытые заявки</a></li>
            </ul>
        </div>
      </li>
      <li class="mb-1">
        <a href="{{ url_for('get_managers') }}" class="btn btn-toggle">Управление персоналом</a>
      </li>
      <li class="mb-1">
        <a href="{{ url_for('get_feedbacks') }}" class="btn btn-toggle">Отзывы</a>
      </li>
      <li class="mb-1">
        <a href="{{ url_for('get_specials') }}" class="btn btn-toggle">Специальные возможности</a>
      </li>
</div>
<script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>